.Home {
  margin: 150px 2rem;
  /* background-color: tan; */
  /* width: 734px; */
}

.Home-top {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  /* margin-left: 15%; */
}

.Home-info {
  /* background-color: lightblue; */
  width: 350px;
}

.Home-list {
  list-style-type: none;
  padding: 0;
}

.Home-img {
  /* display: inline-block; */
  /* width: 250px; */
  /* background-color: pink; */
  background-color: rgba(6, 182, 73, 0.7);
  border-radius: 90px;
  width: 200px;
  height: 200px;
  /* border-radius: 100%; */
}

.Home-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* object-fit: contain; */
  object-fit: cover;
  object-position: top;
  /* object-fit: fill; */
}

.Home-bio {
  width: 700px;
}

hr {
  border: 2px solid black;
  margin: 50px 0;
  width: 700px;
}