@media (min-width: 800px) {
.Home {
  margin: 150px 2rem;
  /* background-color: tan; */
  /* width: 734px; */
}

.Home-top {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  /* margin-left: 15%; */
}

.Home-info {
  /* background-color: lightblue; */
  width: 350px;
}

.Home-list {
  list-style-type: none;
  padding: 0;
}

.Home-img {
  /* display: inline-block; */
  /* width: 250px; */
  /* background-color: pink; */
  background-color: rgba(6, 182, 73, 0.7);
  border-radius: 90px;
  width: 200px;
  height: 200px;
  /* border-radius: 100%; */
}

.Home-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* object-fit: contain; */
  object-fit: cover;
  object-position: top;
  /* object-fit: fill; */
}

.Home-bio {
  width: 700px;
}

hr {
  border: 2px solid black;
  margin: 50px 0;
  width: 700px;
}
}

@media (max-width: 800px) {
  .Home {
    margin: 200px 2rem;
  }

  .Home-top {
    display: flex;
    justify-content: center;
    /* gap: 100px; */
    /* position: relative; */
  }

  .Home-info {
    position: relative;
    left: -20px;
  }

  .Home-info h1 {
    position: relative;
    top: -30px;
    left: 35px;
  }

  .Home-list {
    list-style-type: none;
    padding: 0;
  }

  .Home-img {
    background-color: rgba(6, 182, 73, 0.7);
    border-radius: 90px;
    width: 200px;
    height: 200px;
    position: relative;
    left: -70px;
    top: 20px;
  }

  .Home-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
  }

  .Home-bio {
    /* display: inline-block; */
    width: 500px;
    position: relative;
    left: 100px;
  }
}

@media (max-width: 579px) {
  .Home-bio {
    /* display: inline-block; */
    width: 300px;
    position: relative;
    left: 200px;
  }
}

@media (max-width: 400px) {
  .Home-info h1 {
    position: relative;
    top: -30px;
    left: 125px;
  }

  .Home-info p {
    position: relative;
    top: -30px;
    left: 95px;
  }

  .Home-img {
    background-color: rgba(6, 182, 73, 0.7);
    border-radius: 90px;
    width: 200px;
    height: 200px;
    position: relative;
    left: -180px;
    top: 80px;
  }

  .Home-info figure {
    position: relative;
    top: 200px;
    left: 115px;
    /* margin-bottom: 150px; */
  }

  .Home-bio {
    width: 300px;
    /* position: relative;
    left: 200px;
    top: 150px;
    margin-bottom: 100px; */
    margin-top: 400px;
    margin-left: 50px;
  }

  #first-hr {
    margin-top: 50px;
  }
}